body {
    color: white;
    background-color: #16171b;
    background-image: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
    background-size: 200px 200px;
    margin-bottom: 100px;
    line-height: 1.5;
    
}

#main-logo {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-top: 0;
    margin-left: 200px;
}
#main-logo h1 {
    color: rgb(155, 155, 155);
    float: left;
    margin-left: 0;
    margin-top: 30px;
    font-family: fantasy;
    font-weight: 150;
    font-size: 25px; 
}

#main-logo ul {
    float: left;
    font-family: cursive;
    display: inline-flex;
    margin-right: 30px;
    margin-bottom: 0px;
}
#list li {
    margin-top: 20px;
    list-style-type: none;
    margin-right: 30px;
}

/*#list li {
    position: relative;
    left: 1020px;
    font-family: 'Times New Roman';
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0px;
}*/
#list a {
    color: grey;
}


#list a:link {
    text-decoration: none;
}
#list a:hover {
    color: rgb(228, 227, 227);
    text-decoration: none;
}



#sign-in li{
    position: relative;
    left: 1620px;
    font-family: Input Sans, serif;
    display: inline-block;
    margin-right: 10px;
    border-width: thin;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
} 

#sign-in a {
    color: white;
}
#sign-in a:link {
    color: white;
    text-decoration: none;
}

.si:hover {
    cursor: pointer;
    text-decoration: none;
    border: rgb(77, 20, 88) solid;
    border-width: thin;
    color: rgb(109, 95, 95);
}

.log-in:hover {
    border: grey solid;
}
#sign-in li:hover, #sign-in a:hover {
    color: grey;
}

/*#list{
    padding: 15px;
}*/
.log-in {
    border: white solid;
}

.si {
    border: rgb(122, 25, 141) solid;
}
#front {
    font-size: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
 
   
}
#front h2{
    font-family: serif;  
    letter-spacing: 0.3rem;
    font-size: 5rem;
    margin-top: 300px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0;
    color: white;
}
#front h2 span {
    background: -webkit-linear-gradient(left, rgb(156, 41, 70) , rgb(121, 6, 60));
   background: -o-linear-gradient(right, rgb(150, 20, 20), rgb(175, 15, 95));
   background: -moz-linear-gradient(right, rgb(180, 39, 39), rgb(99, 29, 89));
   background: linear-gradient(to right, rgb(122, 11, 35) rgb(170, 22, 67)); 
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#front p {
    font-family: Input Sans, serif;  
    color: white;
    padding: 0px 100px 0px 200px;
    max-width: 500px;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

#front a{
    font-size: 20px;
    background: rgb(117, 29, 98);
    letter-spacing: .08em;
    color: white;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
}
#front a:link{
    text-decoration: none;
}
#front a:hover {
    background: rgb(77, 17, 64);
}

section {
    text-align: center;
    padding: 10px;
   
}
section p {
    font-size: 1.25rem;
}

#shoes {
    background-image: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
    background-size: 200px 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(59, 50, 57);
    border-radius: 10px;
    width: 1120px;
    height: 450px;
}
#shoes .icon{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background: rgb(100, 98, 100);
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
#shoes .pics {
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin-top: 100px;
    margin-left: 20px;
    float: left; 
}

#shoes h3 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.25;
}
#shoes .container {
    width: 450px;
    padding: 10px 20px;
    text-align: left;
    float: right;
}

#shoes p {
    font-size: 1.25rem;
}
.container a {
    font-size: 24px;
    background-color: rgb(41, 36, 36);
    color: white;
    border: white solid;
    border-width: thin;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}
 .container a:link {
    text-decoration: none;
 }

 .container a:hover {
    border: grey solid;
    border-width: thin;
    color: grey;
 }
#clothing, #jewelry {
    display: inline-flex;
    flex-direction: row;
}

#clothing {
    width: 400px;
    height: 700px;
    background-image: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
    background-size: 200px 200px;
    margin-right: 30px;
    padding: 20px;
    background-color: rgb(41, 36, 36);
    border-radius: 10px;
 }
 #clothing .icon {
    width: 20px;
    height: 20px;
    background-color: grey;
    text-align: left;
    margin-left: 10px;
 }
 #clothing .container {

    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
 }


 #clothing img {
    border-radius: 10px;
    width: 350px;
    height: auto;
    margin-top: 50px;
    
 }
 #clothing h3 {
    font-size: 1.875rem;
    font-weight: 400;
 }


#jewelry {
    width: 600px;
    height: 700px;
    background-image: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
    background-size: 200px 200px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    background-color: rgb(41, 36, 36);
    border-radius: 10px;
}

#jewelry img {
    border-radius: 10px;
    margin-bottom: 90px;
    width: 400px;
    margin-top: 50px;
    /*margin-left: auto;
    margin-right: auto;*/
}
#jewelry h3 {
    font-size: 1.875rem;
    font-weight: 400;

}
#jewelry .container {
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
}
#jewelry span {
    color: rgb(175, 30, 115);
}
.info {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}
.info h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Input Sans, serif;
    letter-spacing: 5px;
    font-size: 3.625rem;
    font-weight: 300;
    line-height: 1.25;
}

.info p{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.25;
}



hr {
    height: 1px;
    background-color: #3b3838;
    border: none;
}
footer div {
    position: relative;
    left: 700px;
    text-align: left;
    display: inline-flex;
    margin-top: 70px;
    margin-right: 70px;
    margin-bottom: 90px;

    
}
footer h3 {
    color: white;
    font-size: 15px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    
}
footer div li {
    color: rgb(141, 140, 140);
    list-style-type: none;
    line-height: 2;
}

footer div li:hover {
    color: white;
    cursor: pointer;
}


footer + hr {
    margin-left: 400px;
    margin-right: 400px;
}
small {
    margin-left: 400px;
}
 